<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>You have a message from <%= @user.username %></h4>
    <h3>
      <%= @message.message %>
    </h3>
  </body>
</html>